.wrapper {
    max-width: 700px;
    margin: 0 auto;
}

.add-department-button {
    background-color: red;
    border-radius: 50%;
    border: none;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: normal;
    font-size: 2em;
}

.department-list, .employees-list {
    min-width: 400px;
    margin: 0 auto;
    border: solid black 1px;

    table {
        border-collapse: collapse;
    }

    td, th {
        border: 1px solid black;
    }
}

// Modal wrapper
.modalOverlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    opacity: 1;
    animation: show .5s ease;
    overflow-x: hidden;
    overflow-y: auto;
};

// Fade in open animation
@keyframes show {
    0% {
     display: none;
     opacity: 0;
    }
    1% {
     display: flex;
     opacity: 0;
    }
    100% {
     opacity: 1;
    }
};

// Modal itself
.modal {
    position: relative;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);

    @media (min-width: 576px) {
        width: 32rem;
    };
};

// Close button
.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);

    &:before, &:after {
        content: "";
        position: absolute;
        top: 1.2rem;
        left: 0.25rem;
        width: 2rem;
        height: 0.1rem;
        background-color: #888;
    };

    &:before {
        transform: rotate(45deg);
    };

    &:after {
        transform: rotate(-45deg);
    };

    &:hover:before, &:hover:after {
        background-color: #444;
    };
};

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form * {
    margin: 10px 0;
}

.modal-form input[type=text] {
    margin-left: 20px;
}

.modal-form input[type=submit]  {
    margin-right: 30px;
}

