.wrapper {
  max-width: 700px;
  margin: 0 auto; }

.add-department-button {
  background-color: darkcyan;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
  color: white;
  font-weight: normal;
  font-size: 2em; }

.department-list, .employees-list {
  min-width: 400px;
  margin: 0 auto;
  border: solid black 1px; }

.department-list-item {
  padding: 5px 20px; }

.department-list-item p {
  margin: 5px 0; }

.department-data__title {
  font-weight: bold; }

.department-data__secondary-data {
  display: flex;
  justify-content: space-between; }

.modalOverlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 1;
  animation: show .5s ease;
  overflow-x: hidden;
  overflow-y: auto; }

@keyframes show {
  0% {
    display: none;
    opacity: 0; }
  1% {
    display: flex;
    opacity: 0; }
  100% {
    opacity: 1; } }

.modal {
  position: relative;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2); }
  @media (min-width: 576px) {
    .modal {
      width: 32rem; } }

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2); }
  .closeButton :before, .closeButton :after {
    content: "";
    position: absolute;
    top: 1.2rem;
    left: 0.25rem;
    width: 2rem;
    height: 0.1rem;
    background-color: #888; }
  .closeButton :before {
    transform: rotate(45deg); }
  .closeButton :after {
    transform: rotate(-45deg); }
  .closeButton :hover:before, .closeButton :hover:after {
    background-color: #444; }

.modal-form {
  display: flex;
  flex-direction: column; }

.modal-form * {
  margin: 10px 0; }

.modal-form input[type=text] {
  margin-left: 20px; }

.modal-form input[type=submit] {
  margin-right: 30px; }
